<!-- templates/posts/profile.html -->

{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}
  {% load thumbnail %}
  <div class="mb-5">
    <h1>Все посты пользователя {{ author.get_full_name }}</h1>
    <div class="mb-5 row">
      <h3 class="col">Всего постов: {{ author.posts_count }}</h3>
      <h3 class="col">Подписок: {{ author.follower_count }}</h3>
      <h3 class="col">Подписчиков: {{ author.following_count }}</h3>
      <h3 class="col">Комментариев: {{ author.comment_count }}</h3>
    </div>
    {% if user.is_authenticated and user != author %}
      {% if following %}
        <a class="btn btn-lg btn-light"
           href="{% url 'posts:profile_unfollow' author.username %}"
           role="button">Отписаться</a>
      {% else %}
        <a class="btn btn-lg btn-primary"
           href="{% url 'posts:profile_follow' author.username %}"
           role="button">Подписаться</a>
      {% endif %}
    {% endif %}
  </div>
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
