<!-- templates/users/password_reset_confirm.html -->

{% extends "base_form.html" %}
{% block title %}Новый пароль{% endblock %}
{% block card-header %}Введите новый пароль{% endblock %}
{% block card-body %}
  {% load user_filters %}
  {% if validlink %}
    {% include 'includes/form_error.html' %}
    <form method="post"
        {% if action_url %}
          action="{% url action_url %}"
        {% endif %}
    >
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group row my-3 p-3"
            {% if field.field.required %}
             aria-required="true"
            {% else %}
             aria-required="false"
            {% endif %}
        >
          <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}
              <span class="required text-danger">*</span>
            {% endif %}
          </label>
          {{ field|addclass:'form-control' }}
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help"
                   class="form-text text-muted"
            >
              {{ field.help_text|safe }}
            </small>
          {% endif %}
        </div>
      {% endfor %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Назначить новый пароль
        </button>
      </div>
    </form>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Ошибка</div>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
  {% endif %}
{% endblock %}
